
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
/* 1 rem=10px */

h1,h2,h3,h4,h5
{
    font-family: "popins",sans-serif;
}


p,li,a,label
{
    font-family: "urbanist",sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}
a
{
    text-decoration: none;
    font-weight: 400;
    color: var(--para-color);
}
li
{
    list-style: none;
}

.section-nav img{
    width: 35%;
}
.container,.sectionhero
{
    max-width: 142rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}
.section-common-heading
{
font-size: 3.2rem;
font-weight: 900;
text-transform: uppercase;
font-family: "Mukta", sans-serif;
}

:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    /* --bg-color: #ffffff; */
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --hero-heading-color: #003b99;
    --white-color: #ffffff;
    --para-color: #504e4d;
    --bnt-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
  }

.section-nav
{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}
.section-common-subheading
{
color: var(--font-color);
}

.section-nav .container
{
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 2.4rem;
}
.section-nav ul {
    display: flex;
    gap: 32px;
    margin-top: 20px;
}

.section-nav ul li a {
    color: var(--heading-color);
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
    position: relative;
    /* border-bottom: 1px dashed black; */
}

.section-nav ul li a::after {
    content: " ";
    bottom: -0.3rem;
    left: 0;
    width: 0%;
    border-bottom: 0.4rem solid var(--main-color);
    position: absolute;
    transition: all 0.3s linear ;
    -webkit-transition: all 0.3s linear ;
    -moz-transition: all 0.3s linear ;
    -ms-transition: all 0.3s linear ;
    -o-transition: all 0.3s linear ;
}

.section-nav ul li a:hover::after
{
    width: 100%;
    color: var(--hero-heading-color);
   
}
.grid
{
    display: grid;
}

.gridtwocolumn
{
    /* display: grid; */
    grid-template-columns: repeat(2,1fr);
}
.grid-three-cols
{
   display:grid;
    grid-template-columns: repeat(3,1fr);
}
    

.btn
{
    display: inline-block ;
    padding: 10px;
    background-color:var(--main-color);
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.btn:hover
{
    background-color: var(--bnt-hover-bg-color);
    box-shadow: var(--btn-box-shadow);
    cursor: pointer;
}

/* hero Section  */
main
{
    position: relative;
    background-image: linear-gradient(to top right, #a8edea 0%, #fed6e3 100%);
}

.hero-image img
{
    width: 100%;
    height: auto;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}
.sectionhero .grid
{
    align-items: center;
    gap: 50px;

    & .subheading
    {
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-size: 20px;
    word-spacing: 10px;
    color: var(--main-color);
    font-weight: 700;
    }
    & .hero-heading
    {
        font-size: 40px;
        text-align: left;
        line-height: 60px;
    }
    .hero-heading span 
    {
        color: rgba(255, 10, 10, 0.689);
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-transform: capitalize;
        font-weight: 900;
        font-size: 50px;
    }
  .hero-para
    {
        color: var(--font-color);
        margin: 25px;
        margin-left: 0;
        margin-bottom: 50px;
        line-height: 1.5;
        font-size: 21px;
        font-weight: 400;
        font-family: "Nunito Sans", sans-serif;
        word-spacing: 2.5px;
        text-align: justify;
    }
}
.custom-shape-divider-bottom-1721649487 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1721649487 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 118px;
}

.custom-shape-divider-bottom-1721649487 .shape-fill {
    fill: #ffffff;
}

.section-about img
{
    padding: 24px;
    width: 15rem;
    height: auto;
    border-radius: 50% ;
    background-color: var(--supporting-color);
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
}
.section-about .about-div
{
 text-align: center;
 padding: 24px;

}
.about-div
{
    gap: 12.4rem;
    
}
.section-about .grid
{
    gap: 6.4rem;
}



.section-about img
{
    transition: all 0.7s linear ;
    -webkit-transition: all 0.7s linear ;
    -moz-transition: all 0.7s linear ;
    -ms-transition: all 0.7s linear ;
    -o-transition: all 0.7s linear ;
}
.about-div  .icon img:hover
{
    rotate: 360deg;
    background-image: linear-gradient(to top right, #30cfd0 0%, #330867 100%);
}
.section-common-title
{
     font-size: 2rem;
     margin: 40px 0 20px 0;
     /* text-align: center; */
}

.section-course-common-title
{
    font-size: 2rem;
    margin: 40px 0 20px 0;
    
}
.about-div p
{
    color: var(--font-color);
}
.fa-solid
{
    padding: 24px;
    background-color: var(--supporting-color);
    font-size:3.4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.fa-python
{
    padding: 24px;
    background-color: var(--supporting-color);
    font-size:3.4rem;
    background-color: rgb(97, 226, 97);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.fa-flutter
{
    padding: 24px;
    background-color: var(--supporting-color);
    font-size:3.4rem;
    background-color: #c596ff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.fa-react
{
    padding: 24px;
    background-color: var(--supporting-color);
    font-size:3.4rem;
    background-color: rgb(50, 118, 255);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.fa-docker
{
    padding: 24px;
    background-color: var(--supporting-color);
    font-size:3.4rem;
    background-color: #000a19;
    color: rgb(154, 154, 253);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.fa-js
{
    padding: 24px;
    background-color: var(--supporting-color);
    font-size:3.4rem;
    background-color: rgb(255, 255, 112);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.fa-java
{
    padding: 24px;
    background-color: var(--supporting-color);
    font-size:3.4rem;
    background-color: #ffb692;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.grid-four-cols
{
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.section-about .grid
{
    gap:3.2rem;
}
.section-course .course-div:hover
{
    box-shadow: var(--btn-box-shadow);
}
.course-div
{
    padding: 3.4rem;
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}
.section-course
{
/* background-color: rgb(255, 255, 255); */
background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);

}

.text-highlight {
    width: 6rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    color: var(-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 800;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.section-why-choose-us .text-aligin-right .why-choose-div
{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: end;
    text-align: right;
}

.choose-center-div  
{
    position: relative;
   
}
.choose-center-div figure
{
    display: flex;
    align-items: center;

    justify-content: center;
}

.choose-center-div img
{
    width: 90%;
    height: auto;
  
   

}

.choose-center-div figure ::after {
    width: 50rem;
    /* aspect-ratio: 1; */
    height: 50rem;
    background-color: red;
    z-index: -2;
    border: 0.5rem solid var(-supporting-color);
    }

.choose-center-div
.why-choose-div
{
    margin-top: 3.2rem;
}
.section-why-choose-us .grid
{
    gap: 9.6rem;
}

.choose-center-div figure::before
{
  content: " ";
  position: absolute;
  height: 450px;
  width: 450px;
  top: 50%;
  left: 50%;
  aspect-ratio: 1;
  background-color:var(--main-color);
  z-index: -1;
  transform:translate(-50%,-50%) ;
  -webkit-transform:translate(-50%,-50%) ;
  -moz-transform:translate(-50%,-50%) ;
  -ms-transform:translate(-50%,-50%) ;
  -o-transform:translate(-50%,-50%) ;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: circle 5s linear infinite;
  -webkit-animation: circle 5s linear infinite;
}


.choose-center-div figure::after {
    width: 50rem;
    height: auto;
    aspect-ratio: 1;
    background-color: red;
    z-index: -2;
    border: var(--supporting-color);
    }
    

    @keyframes circle {
        0% {
        background-color: #b3d0ff;
        }
        25% {
        background-color: #80b1ff;
        }
        50% {
        background-color: #4d91ff;
        }
        75% {
        background-color: #99c0ff;
        }
        100% {
        background-color: #3381ff;
        }
    }


    .section-contact-homepage {
        width: 70%;
        min-height: 30rem;
        margin: 0 auto;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        margin-bottom: 5rem;
        border-radius:0.2rem;
        -webkit-border-radius:0.2rem;
        -moz-border-radius:0.2rem;
        -ms-border-radius:0.2rem;
        -o-border-radius:0.2rem;
}

.section-contact-homepage a
{
    color: var(--white-color);
    padding: 10px;
    margin-bottom: 5px;
}
.section-contact-homepage .fa-solid {
    padding: 0;
    /* color: var(-white-color); */
    color: #000;

    }

        .section-contact-homepage img
    {
        width: 390px;
        height: auto;
        /* grid-column: 2 / 3; */
    }
    .section-why-choose-us .container:first-child
    {
 padding: 6.4rem 2.4rem 2.4rem 2.4rem;
    }
    .section-about .container:first-child,
.section-blog.container:first-child,
.section-course .container:first-child,
.section-contact-homepage .container:first-child,
.section-why-choose-us .container:first-child {
padding: 6.4rem 0 2.4rem 0;
}


    .contact-title {
        font-size: 3.8rem;
        line-height: 1.2;
        }
        .contact-content p {
        margin: 1.2rem 0 2.4rem 0;
        }

        .section-contact-homepage .container.grid-two--cols {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center; /* Vertically center the items */
            gap: 20px; /* Optional: Add space between columns */
        }
        
        .contact-image {
            grid-column: 2 / 3; /* Explicitly place the image in the second column */
            justify-self: end; /* Align the image container to the end (right) of its column */
        }
        
        .section-contact-homepage img {
            width: 390px;
            height: auto;
        }

        .section-contact-homepage
        {
            padding: 30px;
            margin-bottom:-15rem ;
            background-color: var(--white-color);
            z-index: 2;
            position:relative;
        }
        

        .container .grid .grid-two--cols{
            display: grid;
        
        }

        .grid-two---cols{
            grid-template-columns: repeat(1,2fr);
        }
        
     /* .grid-four-cols
        {
        
            
                display: grid;
                grid-template-columns: repeat(4, 1fr); /* Defines a grid with 4 equal columns */
                 /* Optional: adds space between columns */
              
        
       
                 footer
                 {
                    background-color: #040d12;
                    padding-top: 15rem;
                 }

                 footer *
                 {
                    color: var(--white-color);
                 }

.footer-subheading
{
    font-size: 2.2rem;
    font-weight: 700;
}

.footer-1-div p
{
    margin: 1rem 0 3.2rem 0;
}

.footer-1-div .fa-brands
{
    width: 5rem;
    height:5rem;
    background-color: var(--bg-color);
    color: var(--hero-heading-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: 12px;
    transition: all 3s linear infinite;
    -webkit-transition: all 3s linear infinite;
    -moz-transition: all 3s linear infinite;
    -ms-transition: all 3s linear infinite;
    -o-transition: all 3s linear infinite;
}


.social-footer-icons
{
    display: flex;
 
}
.fa-brands:hover
{
    background-color: var(--bnt-hover-bg-color);
    color: var(--bg-color);
    rotate: 360deg;
}
.footer-1-div
{
    text-align: left;
}
/* .footer-div-2
{
    position:relative;
    text-align: right;
} */


.section-blog-page
{
    height: 100vh;
    width: auto;
    background: linear-gradient(to right, #E7E9BB, #403B4A);
}

.section-blog-page .column1
{
   
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 400px;
    width: 350px;
    position: relative;

}
.column1 img
{
   
    height: 390px;
    width: 340px;
    margin: 0;
}


 .section-blog .blog{
    padding: 1.4rem 2.4rem 2.4rem;
    box-shadow: var(--btn-box-shadow);



}
.blog
{
    transition: scale 0.3s linear ;
    -webkit-transition: scale 0.3s linear ;
    -moz-transition: scale 0.3s linear ;
    -ms-transition: scale 0.3s linear ;
    -o-transition: scale 0.3s linear ;
}

.section-blog .grid
{
    gap: 6.4rem;
}

.blog-content
{
    padding: 10px;
}
.section-blog img
{
    width: 100%;
    height: auto;
}

.section-blog .blog-date
{
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.section-blog .fa-solid
{
    background-color: transparent;
    font-size: 22px;
    padding: 0;
}

 .section-contact {
    /* background-image: linear-gradient(to left, #d7d2cc 0%, #304352 100%); */ 
            border: 2px solid black;
            /* height: 1050px;
            width: 800px;
            margin-left: 225px; */
}
.blog:hover
{
    scale: 1.2;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}


.mb-3
{
    margin-bottom: 3.2rem;
}
label
{
    display: block;
    text-transform: capitalize;
    margin: 12px;
    margin-left: 0;
}
input,textarea
{
    width: 70%;
    padding: 1.4rem;
}

.contact-content button
{
    background-color: var(--main-color);
    height:41px;
    width: auto;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
}
.contact-content button:hover
{
    background-color: var(--bnt-hover-bg-color);
color: white;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
     background-color: var(--supporting-color);
    
}


::-webkit-scrollbar-thumb
{
    background-image: linear-gradient(to bottom, #163938 0%, #c3225024 100%);
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}


::-webkit-scrollbar-thumb:hover
{
  background-color: var(--hero-heading-color);
}

input:focus-visible
{
    outline: 0.2rem solid rgb(38, 14, 14);
}

/* Media Queries */
@media (max-width: 840px) {
    body {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .container, .sectionhero {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    /* Ensure any other specific containers or sections are set to 100% width */
    .container, .sectionhero {
        padding: 9.6rem 2.4rem;
    }
    /* Adjust font sizes and other elements to fit smaller screens if needed */
    h1, h2, h3, h4, h5 {
        font-size: 1.8rem; /* Adjust font sizes as necessary */
    }
    p, li, a {
        font-size: 1.6rem;
    }}


@media (width<=1400px) {
    html{
        font-size: 56.25%;
    }
    .sectionhero img{
width: 90%;
    }

    .custom-shape-divider-bottom-1721649487{
        height: 120px;
    }
}
@media (width<=1200px) {
    html{
        font-size: 54%;
    }

}


@media (width<=998px) {

    .sectionhero{
        height: auto;
        padding-bottom: 10rem;
    }
  .sectionhero .gridtwocolumn{
    grid-template-columns: 1fr;
  }
  .sectionhero .herocontent{
    order: 2;
  }
  .sectionhero .hero-image{
    order: 1;
  }
  .sectionhero .hero-image{
    width: 60%;
  }

  footer .grid-four-cols{
grid-template-columns: repeat(3,minmax(250,1fr));
text-align: center;

.contact-image{
    width: 100px;
}

  }
  .footer-1-div{
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-top: 6.4rem;
  }
  }
  
  
@media (width<=768px) {
  .grid-two---cols,.gridtwocolumn,.grid-three-cols
  {
    grid-template-columns: 1fr;
  }

  .section-nav .container{
display: flex;
flex-direction: column;


  }
  .section-why-choose-us img{
    
        width: 40%;
    }
  

    .section-why-choose-us .text-aligin-right .why-choose-div{
        display: flex;
        justify-content: start;
        flex-direction: column;
        text-align: left;
        align-items: start;
    }
  
  .navbar-brand{
    text-align: center;
    /* margin-left: 1.4rem; */
    /* margin-bottom: 2.4rem; */
  }
  .section-contact-homepage .btn{
    display: block;
    text-align: center;
  }
.section-contact-homepage img{
    width: 50%;
}
}
  @media (width<=1100px) {
    .section-course .grid-four-cols{
         grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
     }
     .section-blog .grid-four-cols{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
     .choose-center-div {
        order: 1;
     }
     .left-div{
 order: 2;
     }
     .right-div{
        order: 3;
            }

     .section-why-choose-us figure::before{
      width: 0;
      height: 0;
      background: transparent;
      padding:0 ;
     }
     .section-why-choose-us .choose-center-div figure::after{
        width: 0;
        height: 0;
        background: transparent;
        padding:0 ;
       }
     
  } 

